<section class="dialog-content">
  <h2 mat-dialog-title>Add Contact</h2>
  <section mat-dialog-content>
    <form #contactForm="ngForm">
      <div class="input-name-container">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            [(ngModel)]="contact.firstName"
            [ngModelOptions]="{ standalone: true }"
            name="firstName"
            matInput
            placeholder="First Name"
            required
            #firstName="ngModel"
          />
          <mat-error *ngIf="firstName.invalid && firstName.touched">
            First Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            [(ngModel)]="contact.lastName"
            [ngModelOptions]="{ standalone: true }"
            name="lastName"
            matInput
            placeholder="Last Name"
            required
            #lastName="ngModel"
          />
          <mat-error *ngIf="lastName.invalid && lastName.touched">
            Last Name is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-email-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            [(ngModel)]="contact.eMail"
            [ngModelOptions]="{ standalone: true }"
            name="eMail"
            matInput
            placeholder="Email"
            required
            email
            #eMail="ngModel"
          />
          <mat-error *ngIf="eMail.invalid && eMail.touched">
            Please enter a valid email address (e.g. contact&#64;example.com).
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </section>
  <div class="add-contact-button-container" mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>

    <button
      (click)="saveContact()"
      mat-button
      cdkFocusInitial
      [disabled]="contactForm.invalid"
    >
      Save
    </button>
  </div>
</section>
